.container {
  //overflow: hidden;
  padding: 10px;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  background: rgb(0, 155, 180);
  background: linear-gradient(
    90deg,
    rgba(0, 155, 180, 1) 17%,
    rgba(92, 193, 170, 1) 50%,
    rgba(0, 167, 196, 1) 79%,
    rgba(0, 212, 255, 1) 100%
  );
}

.round16Left {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.round16Right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.quarterFinalsleft {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.quarterFinalsRight {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.semiFinals {
  display: flex;
  justify-content: center;
  align-self: center;

  & :nth-child(1) {
    margin: 0 5px;
  }
}

.center {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.final {
  position: absolute;
  top: 30px;
  align-self: center;
  justify-self: flex-start;
}

.text {
  font-size: 25px;
  color: white;
  text-align: center;
  margin-bottom: 10px;
}

.trophy {
  position: absolute;
  align-self: center;
  top: 150px;
  width: 180px;
  height: 200px;
}

@media (max-width: 860px) {
  .container {
    display: none;
  }

  .containerMobile {
    padding: 10px;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: rgb(0, 155, 180);
    background: linear-gradient(
      90deg,
      rgba(0, 155, 180, 1) 17%,
      rgba(92, 193, 170, 1) 50%,
      rgba(0, 167, 196, 1) 79%,
      rgba(0, 212, 255, 1) 100%
    );
  }

  .round16Left {
    width: 100%;
    height: 38vh;
    flex-wrap: wrap;
    align-items: center;
  }

  .quarterFinalsleft {
    width: 100%;
    height: 20vh;
    flex-wrap: wrap;
    align-items: center;
  }

  .semiFinals {
    width: 100%;
    & :nth-child(1) {
      margin: 0 5px;
    }
  }

  .final {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: initial;
    justify-content: center;
    align-items: center;
  }

  .text {
    font-size: 30px;
    margin-bottom: 3px;
  }
}
