$dark-blue: #264653;
$green: #2a9d8f;
$yellow: #e9c46a;
$orange: #f4a261;
$red: #e76f51;

$orchid: #eea6ea;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  // This defines what 1 rem is
  /*with this now 10px = 1rem */
  /* note that we could have used ems instead of rems but that is a whole lot of work, because it is difficult to make, because the ems depend not on the root font size but on the font size of the parent Element and with that you have to do a lot of calculations and it becomes really difficult to mange. */
}

body {
  box-sizing: border-box;
}
