@import "../../../sass/main";

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8vh;
  width: 15vw;
  border: 1px solid #ffffff;
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
  border-radius: 15%;

  &_red {
    background-color: $red;
  }

  &_orange {
    background-color: $orange;
  }

  &_green {
    background-color: $green;
  }

  &_blue {
    background-color: #FEBE10;
  }

  &_final {
    width: 22vw;
    filter: drop-shadow(10px 5px 5px #ea6565);
  }
}

.flag {
  margin: 0 6%;
  height: 4em;
  width: 4em;
  border: 2px solid white;
  border-radius: 50%;
  background-color: transparent;
}

.input {
  width: 30px;
  height: 30px;
  text-align: center;
  font-size: 20px;
  border-radius: 30%;

  &_lose {
    background-color: #cb6d6d;
    opacity: .6;
  }
  &_win {
    background-color: #6ab36a;
  }
}

.colon {
  color: white;
  font-size: 20px;
  padding: 0;
  margin: 0;
}

@media (max-width: 1199.98px) {

  .container {
    //height: 8vh;
    //width: 18vw;
  }
  .flag {
    margin: 0 3%;
    height: 3em;
    width: 3em;
  }

  .input {
    width: 25px;
    height: 30px;
    font-size: 16px;
  }

}

@media (max-width: 860px) {
  .container {
    width: calc(100% / 2 - 5%);
  }
  .flag {
    margin: 0 3%;
    height: 5em;
    width: 5em;
  }

  .input {
    width: 35px;
    height: 35px;
    font-size: 20px;
  }
}

@media (max-width: 1199.98px) {

  .container {
    //height: 8vh;
    //width: 18vw;
  }
  .flag {
    margin: 0 3%;
    height: 3em;
    width: 3em;
  }

  .input {
    width: 25px;
    height: 30px;
    font-size: 16px;
  }

}

@media (max-width: 860px) {
  .container {
    width: calc(100% / 2 - 5%);
  }
  .flag {
    margin: 0 3%;
    height: 5em;
    width: 5em;
  }

  .input {
    width: 35px;
    height: 35px;
    font-size: 20px;
  }
}
