@import "../../../sass/main";

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8vh;
  width: 18vw;
  border: 1px solid #ffffff;
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
  border-radius: 15%;

  &_red {
    background-color: $red;
  }

  &_orange {
    background-color: $orange;
  }
}



.flag {
  margin: 0 6%;
  height: 40px;
  width: 40px;
  border: 2px solid white;
  border-radius: 50%;
  background-color: transparent;
}

.input {
  width: 30px;
  height: 30px;
  text-align: center;
  font-size: 20px;

  &_lose {
    background-color: #cb6d6d;
  }
  &_win {
    background-color: #6ab36a;
  }
}

.colon {
  color: white;
  font-size: 20px;
}
