// Import area
@import '../Navbar/navbar';

// Header setup
.header {
  width: 100vw;
  height: 20vh;
  padding: 0 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  // Logo setup
  .logo {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
  }
}
