// Import area
@import '../Navbar/navbar';

// Header setup
.header {
  width: 100vw;
  height: 15vh;
  padding: 0 5rem; //RL
  background: rgb(0, 155, 180);
  background: linear-gradient(
    90deg,
    rgba(0, 155, 180, 1) 17%,
    rgba(92, 193, 170, 1) 50%,
    rgba(0, 167, 196, 1) 79%,
    rgba(0, 212, 255, 1) 100%
  );
  display: flex;
  justify-content: space-between;
  align-items: center;

  // Logo setup
  .logo {
    width: 10rem;
    height: 10rem;
    border-radius: 2rem 0.5rem 2rem 0.5rem;
  }
}

@media (max-width: 767px) {
  .header {
    padding: 0.5em;
    justify-content: space-evenly;
    .logo {
      width: 5rem;
      height: 5rem;
    }
  }
}

@media (max-width: 480px) {
  .header {
    width: 100vw;
    padding: 0.2em;
    justify-content: space-around;
    .logo {
      width: 5rem;
      height: 5rem;
    }
  }
}
