// Navbar setup
@import '../../sass/fonts';

nav {
  width: 30vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  // List setup
  li {
    list-style: none;
  }

  // Anchor setup
  a {
    font-size: 3.7rem;
    font-weight: bold;
    text-decoration: none;
    //color: #264653; RL
    color: #fff; //RL
    letter-spacing: 5px; //RL

    // Hover effect
    &:hover {
      color: #264653;
    }
  }
}

// Media Query for max. width 1200px
@media (max-width: 1200px) {
  nav {
    width: 50vw;
  }
}

// Media Query for max. width 767px
@media (max-width: 767px) {
  nav {
    width: 70vw;
    justify-content: center;
    li {
      margin: 0 2em;
    }

    a {
      font-size: 2.5em;
      font-weight: lighter;
    }
  }
}

// Media Query for max. width 480px
@media (max-width: 480px) {
  nav {
    width: 50vw;
    justify-content: center;
    li {
      margin: 0 0.5em;
    }

    a {
      font-size: 1.5em;
      font-weight: lighter;
    }
  }
}
