// Navbar setup
@import "../../sass/fonts";

nav {
  width: 30vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  // List setup
  li {
    list-style: none;
  }

  // Anchor setup
  a {
    font-size: 3.7rem;
    font-weight: bold;
    text-decoration: none;
    //color: #264653; RL
    color: #fff; //RL
    letter-spacing: 5px ; //RL

    // Hover effect
    &:hover {
      color: #264653;
    }
  }
}

@media (max-width: 1200px) {
  nav {
    width: 50vw;
  }
}