// main container Styles
.block {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  font-size: 1.5rem;
  min-height: 70vh;
  padding: 0% 5%;
  background-color: #2a9d8f;
  position: relative;
  letter-spacing: 2px; //RL;

  // Logo styles
  .Stan {
    border-radius: 2rem 0.5rem 2rem 0.5rem;
    width: 10rem; //RL
    height: 10rem; //RL
    margin: 3%;
  }
  // Image styles
  .generic {
    position: absolute;
    bottom: 0rem;
    background-size: cover;
    min-width: 100%;
    width: 100%; //RL
  }

  // h4 styles
  .giraffe {
    font-weight: 900;
    color: #e9c46a;
    padding: 1rem 0;
  }

  // ul styles
  .comp-menu-1 {
    list-style-type: none;
    margin: 0;
    padding: 0;

    // hyper reference styles
    a {
      text-decoration: none;
      list-style-type: none;
      color: white;
    }
  }
}

//responsive web design section Media query 481

@media screen and (max-width: 481px) {
  .block {
    max-height: 50vh;

    display: block;

    .footer__one {
      margin-top: 2rem;
      width: 16rem;
      min-height: 14rem;
    }
    .footer__two {
      // background-color: green;
      left: 10rem;
      bottom: 14rem;
      display: flex;
      width: 18rem;
      min-height: 10rem;
      width: 15rem;
    }
    .footer__three {
      // background-color: hotpink;
      display: flex;
      width: 15rem;
      min-height: 14rem;
      bottom: 9rem;
    }
    .footer__four {
      // background-color: indianred;
      display: flex;
      bottom: 20rem;
      width: 15rem;
      min-height: 10rem;
      left: 19rem;
    }
    .footer__five {
      // background-color: indigo;
      bottom: 5rem;
      left: 8rem;
      width: 18rem;
      min-height: 11rem;
      bottom: 15rem;
    }
  }

  .Stan {
    max-width: 10rem;
    margin-top: 2rem;
  }

  .generic {
    display: none;
  }
}

//responsive web design section Media query 767px

@media screen and (max-width: 767px) {
  .block {
    min-height: 50vh;
    display: block;

    .footer__one {
      display: flex;
      margin-top: 2rem;
      // background-color: grey;
      width: 25rem;
      min-height: 18rem;
      font-size: 2.5rem;
      left: 12rem;
    }
    .footer__two {
      // background-color: green;
      left: 40rem;
      bottom: 18rem;
      display: flex;
      width: 18rem;
      min-height: 18rem;
      width: 15rem;
      font-size: 2.5rem;
    }
    .footer__three {
      // background-color: hotpink;
      display: flex;
      width: 18rem;
      min-height: 18rem;
      bottom: 11rem;
      font-size: 2.5rem;
      left: 12rem;
    }
    .footer__four {
      // background-color: indianred;
      display: flex;
      bottom: 33rem;
      width: 15rem;
      min-height: 12rem;
      left: 40rem;
      font-size: 2.5rem;
    }
    .footer__five {
      // background-color: indigo;
      bottom: 5rem;
      left: 25rem;
      width: 30rem;
      min-height: 15rem;
      bottom: 21rem;
      font-size: 2.5rem;
    }
  }

  .Stan {
    max-width: 15rem;
    margin-top: 2rem;
    margin-left: 15rem;
  }

  .generic {
    display: none;
  }
}
