.block {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  background: black;

  min-height: 80vh;
  padding: 0% 5%;

  h4 {
    color: whitesmoke;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    a {
      text-decoration: none;
      list-style-type: none;
      color: white;
    }
  }
}
