// main container Styles
.block {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  min-height: 70vh;
  padding: 0% 5%;
  background-color: #2a9d8f;
  position: relative;

  // Logo styles
  .Stan {
    border-radius: 2rem 0.5rem 2rem 0.5rem;
  }
  // Image styles
  .generic {
    position: absolute;
    bottom: 0rem;
    background-size: cover;
    min-width: 100%;
  }

  // h4 styles
  .giraffe {
    font-weight: 900;
    color: #e9c46a;
    padding: 1rem 0rem;
  }

  // ul styles
  .comp-menu-1 {
    list-style-type: none;
    margin: 0;
    padding: 0;

    // hyper reference styles
    a {
      text-decoration: none;
      list-style-type: none;
      color: white;
    }
  }
}
