// main container Styles
.block {
  font-family: 'Castoro', serif;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  font-size: 1.6rem;
  min-height: 40vh;
  padding: 2% 4%;
  background-color: #2a9d8f;
  position: relative;
  //letter-spacing: 2px;//RL;

  // Logo styles
  .Stan {
    border-radius: 2rem 0.5rem 2rem 0.5rem;
    width: 10rem; //RL
    height: 10rem; //RL
    margin: 3%;
  }
  // Image styles
  .generic {
    position: absolute;
    bottom: 0rem;
    background-size: cover;
    min-width: 100%;
    width: 100%; //RL
  }

  // h4 styles
  .giraffe {
    font-weight: 900;
    color: #e9c46a;
    padding: 1rem 0;
  }

  // ul styles
  .comp-menu-1 {
    list-style-type: none;
    margin: 0;
    padding: 0;

    // hyper reference styles
    a {
      text-decoration: none;
      list-style-type: none;
      color: white;
    }
  }
}

//responsive web design section Media query 481

@media screen and (max-width: 700px) {
  .block {
    padding: 2% 1%;
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 560px) {
  .Stan {
    display: none;
  }
}

@media screen and (max-width: 400px) {
 .block{
   flex-wrap: wrap;
   min-height: 18vh;
   font-size: 1.2rem;

 }
}

