// Import area
@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';

// Groups setup
#groups {
  width: 100vw;
  padding: 2% 10%;
  background: rgb(0, 155, 180);
  background: linear-gradient(
    90deg,
    rgba(0, 155, 180, 1) 17%,
    rgba(92, 193, 170, 1) 50%,
    rgba(0, 167, 196, 1) 79%,
    rgba(0, 212, 255, 1) 100%
  );
  // H1 setup
  h1 {
    margin: 5%;
    font-size: 3em;
    color: #ffff;
  }

  // H2 setup
  h2 {
    margin: 2%;
    font-size: 2em;
    color: #ffff;
    text-align: center;
  }

  // Buttons setup
  button {
    width: 1rem;
    height: 1rem;
  }

  // Team setup
  .team-group {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #ffff;
    border: 1px solid grey;
    margin: 2em 2em;
    width: 25vw;
    border-radius: 1rem;

    // List setup
    li {
      display: flex;
      justify-content: space-evenly;
      align-items: center;

      // Flags setup
      img {
        width: 2.5em;
        height: 2.5em;
      }

      .top {
        width: 7em;
        font-size: 1.7em;
        font-weight: bold;
        color: #264653;
        display: flex;
        justify-content: space-around;
        align-items: center;

        .team {
          width: 10%;
        }
      }

      .bottom {
        width: 9em;
        font-size: 1.7em;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .up,
        .down {
          width: 6em;
          margin: 0.8em;
          text-align: center;
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          color: #264653;
        }

        .down span {
          padding-right: 0.5em;
        }
      }
    }
  }
}
