.mainSliderContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75vh;
}
.sliderContainer {
  width: 125rem;
  height: 75rem;
  color: black;
  padding: 10px;
  display: flex;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
}
.sliderContainer img {
  width: 80%; //RL
  //height: 70rem; RL
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}
h2 {
  text-transform: capitalize;
  margin-top: 10px;
  font-weight: 800;
}
.sliderContainer div {
  margin-top: 15px;
}
.sliderContainer div button {
  cursor: pointer;
  margin: 0 10px;
  padding: 8px 10px;
  border-radius: 50%;
  font-weight: 800;
  font-size: 19px;
  border: none;
  outline: none;
  text-align: center;
}

.sliderBtn {
  border-radius: 50%;
  width: 5rem;
  height: 10rem;
  border: none;
  margin: 1rem;
  font-size: 5rem;
  background: transparent;
}
.sliderBtn:hover {
  transform: scale(1.5);
}
button:active {
  transform: scale(1.03);
}
