.mainSliderContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35vh;
}
.sliderContainer {
  width: 50rem;
  height: 35rem;
  color: black;
  padding: 10px;
  display: flex;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
}
.sliderContainer img {
  width: 50rem;
  height: 28rem;
  object-fit: cover;
}
h2 {
  text-transform: capitalize;
  margin-top: 10px;
  font-weight: 800;
}
.sliderContainer div {
  margin-top: 15px;
}
.sliderContainer div button {
  cursor: pointer;
  margin: 0 10px;
  padding: 8px 10px;
  border-radius: 50%;
  font-weight: 800;
  font-size: 19px;
  border: none;
  outline: none;
  text-align: center;
}
button:active {
  transform: scale(1.03);
}
